* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  background-color: var(--cor0);
}

@font-face {
  font-family: idroid;
  src: url(../fonts/idroid.otf);
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
